body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
 --main-color: #5F6FFF;
 --main-text-color: #1F2937;
 --secondary-text-color: #4B5563;
 --green: #0FBF00;
 --logo-color: #000B6D;

}
.container{
  padding-left: 7%;
  padding-right: 7%;
}

@media (max-width:768px) {
  .container{
    padding-left: 20px;
    padding-right:20px;
    width: 100%;
  } 
}


